div.show {
  display: block;
  position: absolute;
  z-index: 80;
  width: 40px;
  height: 40px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: #191b1b;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px #d47f01;
  transition: 300ms;
  cursor: pointer;
  &:hover {
    transform: scale(90%);
    box-shadow: 1px 1px 15px #ec8e00;
  }
}
header {
  width: 60%;
  height: 100vh;
  padding: 24px 32px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  background-color: #191b1b;
  border-radius: 12px;
  box-shadow: 3px 3px 20px darkgrey;
  position: absolute;
  top: 0;
  right: -100%;
  z-index: 1000;
  transition: 700ms;
  div.cross {
    position: absolute;
    left: 8%;
    color: #ffa200;
    cursor: pointer;
    transition: 300ms;
    &:hover {
      transform: scale(-200%);
    }
  }
  a {
    img {
      width: 30%;
    }
  }
  div.right {
    li {
      list-style: none;
      padding: 10px 0;
      &:hover > a {
        color: #f1a500;
      }
      a {
        color: whitesmoke;
        font-size: 12px;
        text-decoration: none;
        transition: 300ms;
      }
    }
  }
  div.left {
    width: 100%;
    display: flex;
    gap: 60px;
    a.subscribtion {
      padding: 10px 16px;
      border-radius: 5px;
      background-color: #1aa559;
      color: white;
      text-decoration: none;
      font-size: 11px;
      transition: 300ms;
      &:hover {
        background-color: #147941;
      }
    }
    a.login {
      padding: 10px 16px;
      background-color: #2a2a2a;
      border-radius: 5px;
      color: white;
      text-decoration: none;
      font-size: 11px;
      transition: 300ms;
      &:hover {
        background-color: #393939;
      }
    }
  }
}
.active {
  position: absolute;
  top: 0 !important;
  right: 0%;
  z-index: 1000;
}
.mobileCover {
  width: 100vw;
  height: 100vh;
  background-color: #000000cd;
  position: absolute;
  top: 0;
  z-index: 90;
}
