.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.content {
  width: 100%;
  padding: 64px 60px;
  div.title {
    margin-bottom: 32px;
    h5 {
      font-size: 17px;
      font-weight: 600;
      color: whitesmoke;
    }
  }
  div.Swiper {
    width: 100%;
    position: relative;
    div.swiper-wrapper {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      div.swiper-slide {
        display: flex;
        flex-flow: column nowrap;
        align-items: start;
        gap: 12px;
        border-radius: 12px;
        img {
          border-radius: 12px;
          object-fit: cover;
        }
        h5 {
          font-size: 11px;
          color: whitesmoke;
          padding-right: 5px;
        }
      }
    }
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  width: 50px;
  padding: 12px 20px;
  border-radius: 100%;
  background-color: #141414f2;
  color: whitesmoke;
  content: "";
  font-size: 20px !important;
}
